$accent-primary: #6420aa;
$accent-secondary: #ad88c6;

$gray-1: #191919;
$gray-2: #2a2a2a;
$gray-3: #323232;
$gray-4: #3a3a3a;
$gray-5: #454545;

$red-1: #d80032;

$green-1: #66de93;

$clr-bg-primary: #070707;
$clr-bg-secondary: $gray-1;

$clr-text-primary: #fbf9f1;
$clr-text-secondary: #e5e1da;
