#mobile-error {
  align-items: center;
  background-color: $red-1;
  color: $clr-text-primary;
  display: flex;
  font-size: $fz-100;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
